@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto;
}
html, body{
    background-color: #eef2f6;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-left: 265px; 
    transition: margin-left 0.5s;
    margin-top: 58px;
    padding: 20px;
}

.content-collapsed {
    margin-left: 0; 
    transition: margin-left 0.5s;
    margin-top: 58px;
    padding: 20px;
}