.eventRegister  {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(214, 214, 214, 0.5) 2px 1px 20;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  /* margin: 0 auto; */
  padding: 15px;
  box-sizing: border-box;
  height: max-content;
  max-width: calc(100% - 10px);
  margin: 5px;
  border: 0.5px;
   
  }
  .eventRegister .form-group p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px;
    margin-top: 10px;
    padding: 1px;
    font-weight: 500;
}
  
  .eventRegister .team-form label {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-weight: 500;
  }
  
  .eventRegister .form-group {
     margin-top: 10px;
     margin-bottom: 20px;
  }
  
 .eventRegister .form-group input,
 .eventRegister .form-group select{
  display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 12px 12px 12px 5px;
    border-radius: 5px;
    text-overflow: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    resize: vertical;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }
 .eventRegister input:focus{
  border: 3px solid rgb(46, 131, 243);
  outline: none;
}
.eventRegister input:focus,
.eventRegister select:focus {
  border: 3px solid rgb(46, 131, 243);
  outline: none;
}
 .eventRegister button{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
 }
  

 .eventRegister select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: white;
}
.eventRegister .para {
  height: 150px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  resize: vertical;
  border: 1px solid rgb(173, 172, 172);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  
}
