@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.event-details .event-image{
    width: 250px;
    height: 250px;
    display: block;
    
}
.event-details {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19px 1px rgb(177, 177, 177);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    /* margin: 0 auto; */
    padding: 50px;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 2%;
    width: 100%;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
   
}
.event-details h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(90, 90, 90);
  }
.event-details .button-1{
     margin-left: auto; 
     font-family: 'Roboto', sans-serif; 
     font-weight: 500;
}

.event-details  button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    
    
}

.event-details .title {
    display: flex;
    margin-right: 10px;
    gap: 10px; 
    margin-bottom: 6%;
    /* color: rgb(33, 133, 248); */
    color: rgb(46, 46, 46);
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
   
}

.event-details .title a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    margin-left: 10px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    
}


.event-details .title h1 {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    

}
.event-details  p {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    color: gray;
}
