/* EventUploadForm.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.eventUploadForm {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(214, 214, 214, 0.5) 2px 1px 20;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* margin: 0 auto; */
    padding: 15px;
    box-sizing: border-box;
    height: max-content;
    max-width: calc(100% - 10px);
    margin: 5px;
    border: 0.5px;
}
.eventUploadForm .uploadform p{
    font-family: 'Roboto', sans-serif;
}

.eventUploadForm input,
.eventUploadForm .box 
.eventUploadForm select{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    text-overflow: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    resize: vertical;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Roboto', sans-serif;
}
.eventUploadForm input:focus{
    border: 3px solid rgb(46, 131, 243);
    outline: none;
}
.eventUploadForm select.gray-text {
    color: gray;
    width: 100%;
}

.eventUploadForm .para {
    height: 150px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    resize: vertical;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Roboto', sans-serif;
    
}

.eventUploadForm label {
    margin-bottom: 1px;
    color: grey;
    display: flex;
    flex-direction: column;
    
}

.eventUploadForm button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
   
    font-family: 'Roboto', sans-serif;
    
}

/* .eventUploadForm button:hover {
    background-color: #0056b3;
} */

.eventUploadForm .checkbox-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.eventUploadForm .checkbox-group p {
    margin-top: 1px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(15, 15, 15);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.eventUploadForm .checkbox-group label {
    display: block; 
    margin-bottom: 10px;
}

.eventUploadForm .checkbox-group input {
    display: none; 
}

.eventUploadForm .checkbox-group input + span {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    margin-right: 10px; 
    cursor: pointer;
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
}

.eventUploadForm .checkbox-group input:checked + span {
    background-color: green;
    border-color: green;
}

.eventUploadForm .checkbox-group input + span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
}

.eventUploadForm .checkbox-group input:checked + span:after {
    opacity: 1;
}
/*team size selection */

.eventUploadForm select {
    width: 92%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.eventUploadForm  p{
    margin-top: 20px;
    margin-bottom: 1px;
    font-size: 15px;
    /* font-weight: 100; */
    color: grey;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.eventUploadForm .radio-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.eventUploadForm .radio-group p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(8, 8, 8);
    font-family: 'Roboto', sans-serif;
}

.eventUploadForm .radio-group label {
    display: block;
    margin-bottom: 20px;
}

.eventUploadForm .radio-group input[type="radio"] {
    display: none; 
}

.eventUploadForm .radio-group input[type="radio"] + span {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.eventUploadForm .radio-group input[type="radio"]:checked + span {
    background-color: green;
    border-color: green;
}

.eventUploadForm .radio-group input[type="radio"] + span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
}

.eventUploadForm .radio-group input[type="radio"]:checked + span:after {
    opacity: 1;
}