.event {
    padding: 20px;
    font-weight: 500;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.event-card {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.event-card img {
    width: 100%;
    height: 80%;
    position: relative;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.event-card h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    color: #000000;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.event .navigate-button{
    
        width: 15%;
        padding: 13px;
        background-color: rgb(14, 120, 220);
        outline: none;
        border: none;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        height: max-content;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        
}

.event .circle-icon{
    margin-left: 10%;
    font-size: 25px;
    vertical-align: middle;
}